@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap'); /* Importa a fonte Lato */

/* Zerando CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}

/* Fundo de Tela */
html {
	width: 100vw;
	height: 100vh;
	font-size: 62.5%; /* Define o tamanho da fonte */
	color: white;
	font-family: 'Lato', sans-serif;
	/*overflow: hidden;*/
	scroll-behavior: smooth;
}

body {
    /*background: linear-gradient(rgb(17, 17, 17, 0.8),
rgb(20, 20, 20, 0.8)), url(img/img1..png);*/
background-image: url(img/img1..png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
padding-right: 0px;
}


/* Menu - Header - NavBar */
header {
	width: 100%;
	height: 10vh;
	background: rgba(22, 22, 22, 0.2);
}


.menu-content { /*Navbar*/
	text-transform: uppercase;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.8rem;
	
}

.logo {
	font-size: 1.8rem;
	letter-spacing: 0.4rem;
	cursor: pointer;
}

.logo:hover{
	cursor: pointer;
	color: #f49e12;
	font-weight: bold;
	transition: 0.5s;
}

.menu-content .list-itens {
	display: flex;
	list-style: none;
	gap: 10px;
}

.menu-content .list-itens a {
	text-decoration: none;
	color: white;
	padding: 1.5rem;
	transition: 2ms ease-in;
	position: relative;
}

.menu-content .list-itens a:before {
	content: ' ';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 0px;
	height: 1px;
	background-color: rgb(32, 178, 170);
	transition: all 1.5ease;
}

.menu-content .list-itens a:hover:before {
	width: 100%;
}

/*.menu-content .seguir{
	border: 1px solid red;
	display: flex;
	flex-direction: column;
}

/* Centro - Conteudo Principal */
.conteudo-principal {/*mudança de class para section linha 46 sobre nós*/
	height: 50vh;
	margin-top: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	margin-top: 200px;
	margin-bottom: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Textos Conteudo Principal */
/*.primary-text {
	width: 850px;
	font-size: 5rem;
	margin-bottom: 1rem;
	text-align: center;
}*/



.primary-text {
    width: 850px;
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
    animation: changeColor 2s infinite alternate;
}

.primary-text:hover{
	cursor: pointer;
	color: #f49e12;
	font-weight: bold;
	transition: 0.5s;
}


@keyframes changeColor {
    0% {
        color: rgb(255, 255, 255);
    }
    50% {
        color: orange;
    }
	100% {
        color: rgb(139, 128, 235);
    }

}

.second-text {
	margin-bottom: 30rem;
	font-size: 2rem;
	color: rgb(165, 165, 165);
	text-transform: uppercase;
}

.second-text:hover{
	cursor: pointer;
	color: #3e3e3d;
	font-weight: bold;
	transition: 0.5s;
}

/* Botões */
.btns {
	margin-top: -200px;
	margin-bottom: 300px;
	display: flex;
	flex-direction: flex; /* Altera a direção dos botões para coluna */
	align-items: center; /* Centraliza os botões */
	gap: 20px;
}

.btns button {
	width: 100%; /* Define a largura dos botões como 100% */
	height: 60px;
	cursor: pointer;
	border: 1px solid white;
	color: white;
	text-transform: uppercase;
	background-color: transparent;
	font-weight: bold;
	letter-spacing: 0.2rem;
	border-radius: 20px;
	position: relative;
	transition: 1.5s;

}

.btns button:hover {
	color: rgb(32, 178, 170);
	border: none;
}

.btns button:before {
	content: ' ';
	border-radius: 20px;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 0;
	height: 60px;
	background-color: rgb(61, 61, 61);
	z-index: -1;
	transition: width 1s;
}

.btns button:hover:before {
	width: 100%;
}


/* Sobre Nós */
.sobre-nos {
	background-color: #636363;
	padding-top: 2rem;
	padding-bottom: 5rem;
	padding-left: 3rem;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid red;


}

.main{
	
	display: flex;
	justify-content: space-between;

}

.contentsobre{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

}



.contentsobre h2{
	font-size: 6rem;
	margin-bottom: 1rem;
	text-align: center;
}

.contentsobre p{
	text-align: center;
	font-size: 1.8rem;
	width: 600px;
	text-align: justify;
}

.sobre-nos img{
	width: 400px;
	height: 400px;
	margin-top: 10rem;
	margin-left: 10rem;
	border: 2px solid rgb(155,155,155);

}

/* AGENDA */

.agenda{
	width: 100vw;
	display: flex; /*permite modificar a posição*/
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #1f1e1f;
}

.agenda h2{
	font-size: 5rem;
	color: #e6e6e6;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	
}

.agenda .calendario h3{
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-transform: uppercase;
	text-decoration: underline;
}

.agenda .calendario h3:hover{
	cursor: pointer;
	color: #ffc222;
	font-weight: bold;
	letter-spacing: 0.2rem;
	transition: 0.5s;
	
}

.itens-agenda {/*itens-cardapio***/

    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
	margin-left: 4.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 30px;
}

.itens-agenda .info {
    background-color: black;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 1.4rem;
    height: 700px; /* Defina uma altura fixa para todos os elementos */
 
}

.itens-agenda .info h4{
	font-size: 2.5rem;
	text-transform: uppercase;
	margin-bottom: 1.3rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	transition: all 200ms ease-in;
}

.itens-agenda .info h4:hover{
	color: #ffc506;
}

.itens-agenda .info h5{
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	justify-content: center;
	align-items: center;
	text-align: justify;
	
}

.itens-agenda .info h6{
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	justify-content: center;
	align-items: center;
	text-align: justify;
	
}

.itens-agenda .info p{
	color: #f6d346;
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	justify-content: center;
	align-items: center;
	text-align: justify;
	
}

.itens-agenda img{
	width: 100%;
	height: 350px;
}


/* Contatos */

.contatos{
	width: 100%;
	background-color: #1f1e1f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	color: white;
	padding-bottom: 4rem;

}

.contatos h3{
	font-size: 6rem;
	margin-bottom: 3rem;
	
}

.contatos-secao{
	width: 650px;
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
}

.contatos-secao i{
	margin-right: 1rem;

}

.contatos-secao div{
	cursor: pointer;
	transition: all 200ms ease-in;
}

.contatos-secao div:hover{
	color: #ffc506;
}

footer{
	height: 25px;
	background-color: black;
	color: white;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;

}


/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */


@media (max-width: 1400px){

	html{
		font-size: 50%;
	}

	body{
		display: block;
		align-items: center;
		justify-content: center;
		
	}
	
	.main{ /*sobre nós*/
	display: flex;
	align-items: center;
	justify-content: center;
	grid: 20px ;
	
	}

	header{ /*navbar*/
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}

	/*Atualização feita por mim*/	
	.menu-content{ /* MENU*/
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
		height: 12px;
		padding-left: 0px;
	}	

	.menu-content .list-itens{
		margin-top: 5rem;

	}




		.sobre-nos img{
			align-items: center;
			justify-content: center;
			margin-right: 10rem;

		}
		.itens-agenda{/*separa as viagens em única tela column*/
			display: grid;
			align-items: center;
			justify-content: center;
			margin-left: 7rem;
			grid-template-columns: repeat(2, minmax(150px, 350px));
			justify-content: center; /* Centraliza os itens horizontalmente */
			gap: 30px;
				
			}

		.sobre-nos .contentsobre p{
			width: 400px;
			padding-left: 60px;
		
		
			
		}

		/* ------------------------------------------------------------------------------ */

	}

	
	

