@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap'); /* Importa a fonte Lato */

/* Zerando CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
    outline: none; /* Consider removing this line */
    /* border: none; */ /* Consider removing this line */
    text-decoration: none;
    margin-right: 40px;
}


/* Fundo de Tela */
html {
	width: 100vw;
	font-size: 62.5%;
	color: rgb(0, 0, 0);
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	background-color: #f5f5dc;
   
   
}

body {
    width: 100vw;
   
}

.logo img{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    
   
}


.viagens {
    width: 100vw;
    background-color: #f5f5dc;
    text-align: center;
    padding: 20px;
    
}

.viagens h4 {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 20px;
   
}


.viagens h5 {
    margin-top: 40px; /* Ajuste conforme necessário */
    width: 80%; /* O texto ocupará toda a largura do contêiner pai */
    font-size: 3rem; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    margin-left: 50px;
    

}



.viagens img {
    margin-top: 300px; /* Define a margem superior como 300px */
    margin-left: auto; /* Centraliza horizontalmente definindo a margem esquerda e direita como automáticas */
    margin-right: auto;
    display: block; /* Garante que a imagem seja exibida como um bloco */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
    height: auto; /* Mantém a proporção da imagem ao redimensionar */
    
}



.viagens p {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 2rem;
    text-align: justify;
}

.viagens h6 {
    font-size: 3.5rem;
    background-color: rgba(4, 0, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn-viagens{
    margin-top: 100px;
}


/* Botões */
.btns {	
    margin-top: 500px;
    margin-bottom: 0px;
    margin-left: 100px;
    display: flex;
    /* flex-direction: flex; */ /* Remove this line */
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.btn-exp {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 4px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.4rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
    font-size: 5rem;
}

.btn-mostrar-mais {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 140px;
    margin-top: 50px;
    margin-bottom: 300px;
}

.btn-mostrar-mais:hover {
    background-color: #045208;
    font-style: italic;
    color: white;
}


.viagens .btn-whatsapp {
    background-color: #25D366;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.viagens .btn-whatsapp:hover {
    background-color: #128C7E;
}

.viagens .btn-whatsapp i {
    margin-right: 10px;
}

  
  	
		
@media screen and (min-width:1300px) and (max-width:2008px){

body{
    margin: 0px;
    padding: 0px;
    width: 90vw;
}

html{
    margin: 0px;
    padding: 0px;
    width: 100vw;
   
}

.logo img{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
 
}

.container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.viagens h5 {
    margin-top: 40px; /* Ajuste conforme necessário */
    width: 90%; /* O texto ocupará toda a largura do contêiner pai */
    font-size: 3rem; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    margin-left: 50px;
    

}



.viagens img {
    margin-top: 300px; /* Define a margem superior como 300px */
    margin-left: auto; /* Centraliza horizontalmente definindo a margem esquerda e direita como automáticas */
    margin-right: auto;
    display: block; /* Garante que a imagem seja exibida como um bloco */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
    height: auto; /* Mantém a proporção da imagem ao redimensionar */
    
}


.viagens h6{
   
   font-size: 3rem;
  
 
}

.viagens p{
    margin-left: 80px;
}

.btns .btn-exp{
    width: 100px;
    height: 20px;
    font-size: 1.6rem;
}

.viagens h2{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 6rem;
    
  }

  .reserva{
    width: 60vw;
    margin-top: 100px;
    margin-left: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: 1.5;

  }

}

@media screen and (min-width:1000px) and (max-width:1301px){

    body{
 
        padding: 0px;
        width: 100vw;
       
    }
    

    html{
        margin: 0px;
        padding: 0px;
        width: 100vw;
        padding-right: 0px;
    }
    
    
    .logo{
        position: absolute;
        top: 15%;
        left: 33%;
        transform: translate(-50%, -50%);
        cursor: pointer;
     
    }
    
    .container {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .viagens h5 {
        margin-top: 40px; /* Ajuste conforme necessário */
        width: 90%; /* O texto ocupará toda a largura do contêiner pai */
        font-size: 3rem; /* Tamanho da fonte */
        text-align: center; /* Centraliza o texto */
        margin-left: 50px;
        
    }
    
    
    
    .viagens img {
        margin-top: 300px; /* Define a margem superior como 300px */
        margin-left: auto; /* Centraliza horizontalmente definindo a margem esquerda e direita como automáticas */
        margin-right: auto;
        display: block; /* Garante que a imagem seja exibida como um bloco */
        max-width: 80%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
        height: auto; /* Mantém a proporção da imagem ao redimensionar */
        
    }
    
    .viagens p{
        width: 85vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }
    
    .viagens h6{
       width: 100vw;
       font-size: 2.8rem;
      
     
    }
    
    .btns .btn-exp{
        width: 100px;
        height: 20px;
        font-size: 1.6rem;
    }
    
    
    
    }

    
@media screen and (min-width:800px) and (max-width:1001px){

    body{
 
        padding: 0px;
        width: 100vw;
       
    }
    
    html{
        margin: 0px;
        padding: 0px;
        width: 100vw;
        padding-right: 40px;
    }
    
    
    .logo{
        position: absolute;
        top: 15%;
        left: 33%;
        transform: translate(-50%, -50%);
        cursor: pointer;
     
    }
    
    .container {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .viagens h5 {
        margin-top: 40px; /* Ajuste conforme necessário */
        width: 90%; /* O texto ocupará toda a largura do contêiner pai */
        font-size: 2.4rem; /* Tamanho da fonte */
        text-align: center; /* Centraliza o texto */
       
    }
    
    
    .espacamento img {
        margin-left: auto; /* Centraliza horizontalmente definindo a margem esquerda e direita como automáticas */
        margin-right: auto;
        display: block; /* Garante que a imagem seja exibida como um bloco */
        max-width: 90%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
        height: auto; /* Mantém a proporção da imagem ao redimensionar */
        
        
    }

        /* Estilos para a primeira imagem */
    .viagens img:first-child {
        margin-top: 400px; /* Define a margem superior como 300px */
    }

    /* Estilos para todas as imagens exceto a primeira */
    .viagens img:not(:first-child) {
        margin-top: 100px; /* Define a margem superior como 100px */
    }


    .viagens h4{
        font-size: 4rem;
    }


    
    .viagens p{
        width: 85vw;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .viagens h6{
       width: 100vw;
       font-size: 2.6rem;
      
     
    }

    .btns .btn-exp{
        width: 100px;
        height: 20px;
        font-size: 1.6rem;
    }
    
    
    
    
    }

    @media screen and (min-width:600px) and (max-width:801px){

        body{
     
            padding: 0px;
            width: 100vw;
           
        }
        
        html{
            margin: 0px;
            padding: 0px;
            width: 100vw;
            padding-right: 0px;
            
      
        }

        .logo{
            position: absolute;
            top: 15%;
            left: 28%;
            transform: translate(-50%, -50%);
            cursor: pointer;
         
        }
        
        .container {
            width: 90vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .viagens h5 {
            margin-top: 40px; /* Ajuste conforme necessário */
            width: 80%; /* O texto ocupará toda a largura do contêiner pai */
            font-size: 2.4rem; /* Tamanho da fonte */
            text-align: center; /* Centraliza o texto */
           
        }
        
        
        .viagens img {
            margin-left: auto; /* Centraliza horizontalmente definindo a margem esquerda e direita como automáticas */
            margin-right: auto;
            display: block; /* Garante que a imagem seja exibida como um bloco */
            max-width: 90%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
            height: auto; /* Mantém a proporção da imagem ao redimensionar */
            
        }
    
            /* Estilos para a primeira imagem */
        .viagens img:first-child {
            margin-top: 400px; /* Define a margem superior como 300px */
        }
    
        /* Estilos para todas as imagens exceto a primeira */
        .viagens img:not(:first-child) {
            margin-top: 100px; /* Define a margem superior como 100px */
        }

        .viagens h3{
            width: 100vw;
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
           
        }

        .viagens h4{
            
            font-size: 5rem;
         

        }

        
        .viagens p{
            width: 80vw;
            font-size: 1.5rem;
            margin-left: 100px;
        }
        
        .viagens h6{
           width: 100vw;
           font-size: 2.5rem;
          
         
        }

        .btns .btn-exp{
            width: 100px;
            height: 20px;
            font-size: 1.6rem;
        }
        
        
        
        
        
        }

        @media screen and (min-width:551px) and (max-width:599px){

            body{
         
                padding: 0px;
                width: 100vw;
                
               
            }
            
            html{
                margin: 0px;
                padding: 0px;
                width: 90vw;
              
            }
            
            
            .logo{
                position: absolute;
                top: 15%;
                left: 25%;
                transform: translate(-50%, -50%);
                cursor: pointer;
             
            }
            
            .container {
                width: 90vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .viagens h5 {
                margin-top: 40px; /* Ajuste conforme necessário */
                width: 80%; /* O texto ocupará toda a largura do contêiner pai */
                font-size: 2.4rem; /* Tamanho da fonte */
                text-align: center; /* Centraliza o texto */
               
            }
            
            
            .espacamento img {
                margin-left: auto; /* Centraliza horizontalmente definindo a margem esquerda e direita como automáticas */
                margin-right: auto;
                display: block; /* Garante que a imagem seja exibida como um bloco */
                max-width: 90%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
                height: auto; /* Mantém a proporção da imagem ao redimensionar */
                border: 2px solid red;
            }
        
                /* Estilos para a primeira imagem */
            .viagens img:first-child {
                margin-top: 350px; /* Define a margem superior como 300px */
            }
        
            /* Estilos para todas as imagens exceto a primeira */
            .viagens img:not(:first-child) {
                margin-top: 100px; /* Define a margem superior como 100px */
            }
            
            .viagens p{
                width: 85vw;
                font-size: 1.3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 40px;
                margin-left: 40px;
            }
            
            .viagens h6{
               width: 100vw;
               font-size: 2.4rem;
              
             
            }

            .btns .btn-exp{
                width: 100px;
                height: 20px;
                font-size: 1.6rem;
            }

        }

        @media screen and (min-width: 460px) and (max-width: 550px) {
            body {
                padding: 0;
                margin: 0;
                width: 100vw;
               
            }
        
            html {
                margin: 0;
                padding: 0;
                width: 100vw;
            }
        
            .logo{
                position: absolute;
                top: 12%;
                left: 24%;
                transform: translate(-50%, -50%);
                cursor: pointer;
             
            }

            
            .container {
                width: 90vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .viagens h5 {
                margin-top: 40px; /* Ajuste conforme necessário */
                width: 80%; /* O texto ocupará toda a largura do contêiner pai */
                font-size: 2.4rem; /* Tamanho da fonte */
                text-align: center; /* Centraliza o texto */
               
            }
            
            
            .viagens img {
                margin-left: auto; /* Centraliza horizontalmente definindo a margem esquerda e direita como automáticas */
                margin-right: auto;
                display: block; /* Garante que a imagem seja exibida como um bloco */
                max-width: 90%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
                height: auto; /* Mantém a proporção da imagem ao redimensionar */
                
            }
        
                /* Estilos para a primeira imagem */
            .viagens img:first-child {
                margin-top: 250px; /* Define a margem superior como 300px */
            }
        
            /* Estilos para todas as imagens exceto a primeira */
            .viagens img:not(:first-child) {
                margin-top: 100px; /* Define a margem superior como 100px */
            }
        
            .viagens h3 {
                font-size: 2.6rem;
                margin-left: 20px;
               
                
            }
        
            .viagens h4 {
                font-size: 2rem;
            }
        
        
            .viagens p {
                width: 65vw;
                margin-left: 80px;
                font-size: 1.3rem;
            }
        
            .viagens h6 {
                font-size: 2rem;
            }

            .btns .btn-exp{
                width: 100px;
                height: 20px;
                font-size: 1.6rem;
            }
        }
        
        @media screen and (min-width: 300px) and (max-width: 459px) {
            body {
                margin: 0;
                padding: 0;
                width: 100vw;
                margin-left: 5px;
                margin-right: 5px;
                
                
            }
        
            html {
                margin: 0;
                padding: 0;
                width: 100vw;
               
            }

            .logo img{
                width: 200px;
            }


            .logo{
                position: absolute;
                top: 9%;
                left: 25%;
                transform: translate(-50%, -50%);
                cursor: pointer;
             
            }

            
            .container {
                width: 90vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .viagens h5 {
                margin-top: 40px; /* Ajuste conforme necessário */
                width: 90%; /* O texto ocupará toda a largura do contêiner pai */
                font-size: 1.4rem; /* Tamanho da fonte */
                margin-left: 40px;
              
            }
            
            
            .viagens img {
                margin-left: 40px;
                margin-right: auto;
                display: block; /* Garante que a imagem seja exibida como um bloco */
                max-width: 90%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
                height: auto; /* Mantém a proporção da imagem ao redimensionar */
                
            }
        
                /* Estilos para a primeira imagem */
            .viagens img:first-child {
                margin-top: 150px; /* Define a margem superior como 300px */
            }
        
            /* Estilos para todas as imagens exceto a primeira */
            .viagens img:not(:first-child) {
                margin-top: 50px; /* Define a margem superior como 100px */
            }
        
            .viagens h3 {
                width: 70vw;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 40px;
                margin-top: 40px;
                
            }
        
            .viagens h4 {
                font-size: 1.2rem;
            }
        
            .viagens p {
                width: 70vw;
                font-size: 1.3rem;
                margin-left: 60px;
                margin-top: 100px;
            }
        
            .viagens h6 {
                font-size: 1.2rem;
            }

            .btn-viagens {
                width: 100vw;
                margin-top: 60px;
                margin-left: 12px;
            }


            .btns .btn-exp{
                width: 100px;
                height: 20px;
                font-size: 1.6rem;
            }
        }
        