@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap'); /* Importa a fonte Lato */

/* Zerando CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}

/* Fundo de Tela */
html {
	width: 100vw;
	height: 100vh;
	font-size: 62.5%; /* Define o tamanho da fonte */
	color: rgb(0, 0, 0);
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	/*background-image: url(./img/img2.png);
    background-size: cover;*/
    background-color: #f5f5dc;
}



body {
    width: 100vw;
    height: 100vh;
   

}


.logo{
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

}

.agenda h3{
    width: 100vw;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FD9A14;
   
    
}

.viagens{
   
    background-color: #f5f5dc;
    
}

.viagens img{
    width: 100vw;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 50px;
    border: 4px solid rgb(255, 255, 255);
  
  
}

.viagens h4{
    margin-top: 20px;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
   
}

.viagens h5{
    margin-top: 40px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-left: 75px;
    text-align: justify;
}

.viagens p{
    width: 90vw;/*mudança 90 para 97vw*/
    margin-left: 75px;/*75px para 20px*/
    font-size: 2rem;
    text-align: justify;
    /*background-color:#0D3C6D;*/
    
}

.viagens h6{

    font-size: 3.5rem;
    background-color: rgba(4, 0, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.abril h3 {
    font-size: 8rem;
    color: rgba(17, 105, 221, 0.8);
    text-shadow: -2px -1px 0 #ffffff,  
                  2px -1px 0 #fff,
                 -2px  1px 0 #fff,
                  2px  1px 0 #fff;
}





/* Botões */
.btns {	
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: flex; /* Altera a direção dos botões para coluna */
    align-items: center; /* Centraliza os botões */
    gap: 20px;
}

.btn-exp {
    width: 300px; /* Define a largura dos botões como 100% */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 4px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.4rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
    font-size: 5rem;

}
		
		
@media screen and (min-width:1300px) and (max-width:2008px){

body{
    margin: 0px;
    padding: 0px;
    width: 90vw;
}

html{
    margin: 0px;
    padding: 0px;
    width: 100vw;
   
}

.logo{
    margin-left: 160px;
 
}

.viagens img{
    width: 80vw;
    height: 180vh;
    margin-left: 140px;
}

.viagens h5{
    width: 90vw;
}


.viagens h6{
   
   font-size: 3rem;
  
 
}





}

@media screen and (min-width:1000px) and (max-width:1301px){

    body{
 
        padding: 0px;
        width: 100vw;
       
    }
    
    html{
        margin: 0px;
        padding: 0px;
        width: 100vw;
        padding-right: 0px;
    }
    
    
    .viagens img{
        width: 90vw;
        height: 160vh;
        margin-left: 30px;
      
    }
    .viagens h5{
        width: 85vw;
        font-size: 2rem;
    }
    
    .viagens p{
        width: 85vw;
        font-size: 1.5rem;
    }
    
    .viagens h6{
       width: 100vw;
       font-size: 2.8rem;
      
     
    }
    
    
    
    
    
    }

    
@media screen and (min-width:800px) and (max-width:1001px){

    body{
 
        padding: 0px;
        width: 100vw;
       
    }
    
    html{
        margin: 0px;
        padding: 0px;
        width: 100vw;
        padding-right: 40px;
    }
    
    
    .viagens img{
        width: 90vw;
        height: 160vh;
        margin-left: 40px;

    }

    .viagens h4{
        font-size: 4rem;
    }


    .viagens h5{
        width: 85vw;
        font-size: 2rem;
    }
    
    .viagens p{
        width: 85vw;
        font-size: 1.5rem;
    }
    
    .viagens h6{
       width: 100vw;
       font-size: 2.6rem;
      
     
    }
    
    
    
    
    
    }

    @media screen and (min-width:600px) and (max-width:801px){

        body{
     
            padding: 0px;
            width: 100vw;
           
        }
        
        html{
            margin: 0px;
            padding: 0px;
            width: 100vw;
            padding-right: 0px;
            
      
        }

        .logo{
            margin-left: 60px;
            
        }
        
        
        .viagens img{
        width: 90vw;
        height: 120vh;
        margin-left: 70px;
            
        }

        .viagens h3{
            width: 100vw;
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
           
        }

        .viagens h4{
            
            font-size: 5rem;
         

        }


        .viagens h5{
            width: 75vw;
            font-size: 2rem;
        }
        
        .viagens p{
            width: 75vw;
            font-size: 1.5rem;
        }
        
        .viagens h6{
           width: 100vw;
           font-size: 2.5rem;
          
         
        }
        
        
        
        
        
        }

        @media screen and (min-width:551px) and (max-width:599px){

            body{
         
                padding: 0px;
                width: 100vw;
               
            }
            
            html{
                margin: 0px;
                padding: 0px;
                width: 100vw;
              
            }
            
            
            .viagens img{
                width: 90vw;
                height: 120vh;
                margin-left: 40px;

       
    
            .viagens h5{
                width: 65vw;
                font-size: 1.6rem;
            }
            
            .viagens p{
                width: 65vw;
                font-size: 1.3rem;
            }
            
            .viagens h6{
               width: 100vw;
               font-size: 2.4rem;
              
             
            }

        }

        @media screen and (min-width: 460px) and (max-width: 550px) {
            body {
                padding: 0;
                width: 100vw;
            }
        
            html {
                margin: 0;
                padding: 0;
                width: 100vw;
            }
        
            .logo {
                border: 2px solid red;
            }
        
            .viagens img {
                width: 90vw;
                height: 120vh;
                margin-left: 60px;
            }
        
            .viagens h3 {
                font-size: 3rem;
            }
        
            .viagens h4 {
                font-size: 2rem;
            }
        
            .viagens h5 {
                width: 65vw;
                font-size: 1.6rem;
            }
        
            .viagens p {
                width: 65vw;
                font-size: 1.3rem;
            }
        
            .viagens h6 {
                font-size: 2rem;
            }
        }
        
        @media screen and (min-width: 200px) and (max-width: 451px) {
            body {
                width: 80vw;
            }
        
            html {
                margin: 0;
                padding: 0;
                width: 100vw;
            }
        
            .viagens img {
                width: 90vw;
                height: 160vh;
                margin-left: 0;
                border: 2px solid red;
            }
        
            .viagens h3 {
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid red;
            }
        
            .viagens h4 {
                font-size: 1.2rem;
            }
        
            .viagens h5 {
                width: 65vw;
                font-size: 1.6rem;
            }
        
            .viagens p {
                width: 65vw;
                font-size: 1.3rem;
            }
        
            .viagens h6 {
                font-size: 1.2rem;
            }
        }
        
