@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap'); /* Importa a fonte Lato */

/* Zerando CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}

/* Fundo de Tela */
html {
	width: 100vw;
	height: 100vh;
	font-size: 62.5%; /* Define o tamanho da fonte */
	color: white;
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	background-color: #1f1e1f;
	
}

body {
 	background-image: url(img/img2.png);
   	background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    width: 100vw;
    height: 300vh;
	
	
}


/* Menu - Header - NavBar */
header {
	width: 100vw;
	height: 10vh;
	background: rgba(22, 22, 22, 0.8);
}

.menu-content { /*Navbar*/
	text-transform: uppercase;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	
	
}

.logo{
	margin: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

}

/*.background-carousel{
	width: 100vw;
	height: 30vh;
	margin: 0;

}

.carouselslide{
	width: 1500px;
	height: 510px;
	margin: 10px;
	
	
	
}*/

.menu-content .list-itens {
	display: flex;
	list-style: none;
	gap: 10px;
}

.menu-content .list-itens a {
	text-decoration: none;
	color: white;
	padding: 1.5rem;
	transition: 2ms ease-in;
	position: relative;
}

.menu-content .list-itens a:before {
	content: ' ';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 0px;
	height: 1px;
	background-color: rgb(32, 178, 170);
	transition: all 1.5ease;
}

.menu-content .list-itens a:hover:before {
	width: 100%;
}


/* Centro - Conteudo Principal */
.conteudo-principal {/*mudança de class para section linha 46 sobre nós*/
	height: 50vh;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.main-content {
	margin-top: 200px;
	margin-bottom: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.primary-text {
    width: 100vw;
	height: 15vh;
	padding-top: 400px;
    font-size: 18rem;
    text-align: center;
    animation: changeColor 2s infinite alternate;
	
	
}

.primary-text:hover{
	cursor: pointer;
	color: #f49e12;
	font-weight: bold;
	transition: 0.9s;
}


@keyframes changeColor {
    0% {
        color: rgb(255, 255, 255);
    }
    50% {
        color: orange;
    }
	100% {
        color: rgb(255, 255, 255);
    }

}

.second-text {
	padding-top: 5rem;
	font-size: 5rem;
	color: rgb(165, 165, 165);
	text-transform: uppercase;
}

.second-text:hover{
	cursor: pointer;
	color: #3e3e3d;
	font-weight: bold;
	transition: 0.5s;
}



	/* Botões */
	.btns {	
		width: 90vw;
		margin-top: 400px;
		margin-bottom: 0px;
		display: flex;
		flex-direction: column; /* Altera a direção dos botões para coluna */
		align-items: center; /* Centraliza os botões */
		flex-wrap: wrap; /* Permite que os botões quebrem para uma nova linha quando não couberem mais */
    	justify-content: center; /* Centraliza os botões horizontalmente */
		gap: 20px;
	}

	
	
	.btn-exp {
		width: 200px; /* Define a largura dos botões como 100% */
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border: 4px solid white;
		color: white;
		text-transform: uppercase;
		background-color: transparent;
		font-weight: bold;
		letter-spacing: 0.4rem;
		border-radius: 20px;
		position: relative;
		transition: 1.5s;
		font-size: 1.2rem;
	
	}

	
	

/* Contatos */

.contatos{
	width: 100vw;
	margin-top: 260px;
	background-color: #da09da;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: white;
	padding-bottom: 7rem;
	border: 2px solid red;

}

.contatos h3{
	font-size: 3rem;
	margin-bottom: 3rem;
	
}

.contatos-secao{
	width: 650px;
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
}

.contatos-secao i{
	margin-right: 1rem;

}

.contatos-secao div{
	cursor: pointer;
	transition: all 200ms ease-in;
}

.contatos-secao div:hover{
	color: #ffc506;
}

footer{
	height: 25px;
	background-color: black;
	color: white;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;

}


/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */



@media screen and (min-width:1201px) and (max-width:2500px){


	.body{
		width: 100vw;
		height: 100vh;
		
		
	}

	
	.primary-text{
		font-size: 8rem;
		margin-top: 100px;
		
		
	
	}

	.btns {
		padding-top: 800px;
		padding-bottom: 50px;
        flex-direction: row; /* Altera a direção dos botões para coluna em telas menores */
        align-items: center; /* Centraliza os botões verticalmente */
		margin-left: 40px;

	}


	.contatos{
		width: 90vw;
		margin-top: 700px;
	}
	




}
@media screen and (min-width:699px) and (max-width:1200px){
	
	/*html{
	background-size: contain;
    background-repeat: no-repeat; /* para garantir que o background não se repita 
    background-position: center; /* opcional: para centralizar o background 
		
	}*/
	
	body{	
		width: 100vw;
		height: 180vh;
	
	}
	
	.content{
		display: flex;
		align-items: center;
		justify-content: center;

	}

	.content .list-itens{
		display: flex;
		
	}

	.conteudo-principal{
		margin: 0px;
		padding: 0px;
		
	
	}

	.menu-content{
		
		display: flex;
		align-items: center;
		justify-content: center;
	}

	
	.main-content{
		margin-top: 0px;
		height: 50vh;
		gap: 20px;
		


	}

	header{
		width: 100vw;
		height: 10vh;
		

	}

	.logo{
		display: flex;
		align-items: center;
		justify-content: center;
		
	}


	.primary-text{
		margin-top: 50px;
		width: 60vw;
		font-size: 5rem;
		
		
	}

	.main{
		width: 80vw;
		display: flex;
		flex-direction: column;
		margin: 40px 20px ;
		
	}

	.btns {
		margin-top: 500px;
        flex-direction: row; /* Altera a direção dos botões para coluna em telas menores */
		display: flex;
		flex-wrap: wrap; /* Permite que os botões quebrem para uma nova linha quando não couberem mais */
		justify-content: center; /* Centraliza os botões horizontalmente */
		margin-left: 40px;
		padding-bottom: 50px;
		gap: 20px;
}
	


}

	@media screen and (min-width:250px) and (max-width:699px){

		body{	
			width: 100vw;
			height: 160vh;
						
		}
		
		html{
			width: 100vw;
			height: 100vh;
			
		}

		header{
			width: 0px;
			height: 0px;
		}
		

		.logo{
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 70px;
			
		}
	
		
		.main-content{
			margin-top: 0px;
			height: 0px;
		
		}

		
		.content .list-itens{
			display: none;
		
		
		}

	
	
		.primary-text{
			width: 80vw;
			height: 30vh;
			padding-top: 200px;
			font-size: 3.5rem;
			
			
	
		}
	
		
		.btns {
			margin-top: 400px;
			flex-direction: row; /* Altera a direção dos botões para coluna em telas menores */
			display: flex;
			flex-wrap: wrap; /* Permite que os botões quebrem para uma nova linha quando não couberem mais */
			justify-content: center; /* Centraliza os botões horizontalmente */
			margin-left: 20px;
			padding-bottom: 50px;
			gap: 20px;

				
	}


}
